Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

DOC: small fix in README
  .gitignore
  README.md
Due: none

ADD: driving_traffic_percent in items features in londonpassenger_loader
  choice_learn/datasets/base.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: add again lpmc to gitignore
  .gitignore
Due: none

FIX: typos in doc
  docs/index.md
Due: none

ENH: changed default argument
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: again enhancement of doc landing page
  docs/index.md
Due: none

ADD: London Passenger Choice Mode (#159)
  .gitignore
  README.md
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/__init__.py
  choice_learn/datasets/base.py
  choice_learn/models/conditional_logit.py
  docs/index.md
  notebooks/introduction/3_model_clogit.ipynb
  pyproject.toml
  tests/unit_tests/data/test_choice_dataset.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Rewrite ResLogit paper code in TensorFlow
  choice_learn/models/reslogit.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: fix docstrings in rumnet
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typos in rumnet notebook
  notebooks/models/rumnet.ipynb
Due: nbstripout

ADD: ResLogit crash test model
  choice_learn/models/reslogit_bis.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: reslogit training working but not prediction
  choice_learn/models/reslogit_bis.py
  notebooks/models/reslogit_TEST.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: reslogit prediction executable but wrong
  choice_learn/models/reslogit_bis.py
  notebooks/models/reslogit_TEST.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: raised error when reg_strength=0 and reg is not None
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: few basics unit tests on ChoiceModel
  tests/unit_tests/models/test_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better orgaization of SimpleMNL tests
  tests/unit_tests/models/test_instantiation.py
  tests/unit_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: reslogit transformed to tensorflow working on example dataset
  notebooks/models/reslogit_tf.ipynb
Due: nbstripout

MAINT: fix typos
  notebooks/models/reslogit_tf.ipynb
Due: nbstripout

MAINT: file renamed
  choice_learn/models/reslogit_tf.py
  notebooks/models/reslogit_tf.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

MAINT: fix typos
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typos
  choice_learn/models/conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: more complete tests for SimpleMNL
  tests/unit_tests/models/test_simple_mnl.py
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: val_dataset in tests
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: types in test
  tests/unit_tests/models/test_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: replace assert by tf.debugging.assert
  tests/unit_tests/models/test_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH
  choice_learn/models/simple_mnl.py
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: larger coverage with arg change
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tests for SimpleMNL and ChoiceModel (#160)
  choice_learn/models/base_model.py
  choice_learn/models/simple_mnl.py
  tests/unit_tests/models/test_base_model.py
  tests/unit_tests/models/test_instantiation.py
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typos
  notebooks/introduction/4_model_customization.ipynb
Due: nbstripout

MAINT: fix typos
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typos
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typos
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: other approach for reslogit
  choice_learn/models/reslogit.py
  notebooks/models/reslogit_swissmetro.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: typo
  .gitignore
Due: none

ADD: run test in eager mode
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: eager mode also for lbfgs
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: instantiate function renamed call
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test with sample_weight
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: evaluate with bs != -1
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
