Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: naming trainable_weights -> _trainable_weights
  choice_learn/models/base_model.py
  choice_learn/models/baseline_models.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/nested_logit.py
  choice_learn/models/simple_mnl.py
  notebooks/introduction/3_model_clogit.ipynb
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: trainable_weights of DistribMimicking model
  choice_learn/models/baseline_models.py
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: requirements.txt allow for broader versions of dependencies (#134)
  choice_learn/models/rumnet.py
  requirements.txt
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: coverage in workflows (#135)
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: forgotten changes for _trainable_weights
  choice_learn/models/conditional_logit.py
  choice_learn/models/simple_mnl.py
  notebooks/introduction/3_model_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: Issue Number
  .github/workflows/ci.yaml
Due: none

ADD: 1 comment for each Python version
  .github/workflows/pr_ci.yaml
Due: none

ADD: other forgotten def of trainable_weights
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/custom_modelling.md
Due: nbstripout

ADD: python version in title
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

ENH: Coverage in actions : 1 comment by Python version (#136)
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

ADD: test in GH action
  .github/workflows/pr_ci.yaml
Due: none

ENH: ChoiceModel.trainable_weights as @property (#116)
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
  choice_learn/data/storage.py
  choice_learn/models/base_model.py
  choice_learn/models/baseline_models.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/nested_logit.py
  choice_learn/models/rumnet.py
  choice_learn/models/simple_mnl.py
  docs/index.md
  mkdocs.yaml
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/custom_modelling.md
  tests/integration_tests/data/test_dataset_indexer.py
  tests/integration_tests/models/test_conditional_logit.py
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

fix
  .github/workflows/pr_ci.yaml
Due: none

test
  .github/workflows/pr_ci.yaml
Due: none

Change version to v0.0.6 (#138)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: broader poetry dependencies
  pyproject.toml
Due: none

ADD: broader pip requirements
  requirements.txt
Due: none

small fixes
  pyproject.toml
Due: none

ENH: broader poetry/pip dependencies (#139)
  pyproject.toml
  requirements.txt
Due: none

FIX: poetry lock
  poetry.lock
  pyproject.toml
Due: none

update RM dependencies
  README.md
Due: none

ADD: Python 3.12 in CI
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

Fix dependencies (#141)
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: none

Change version to v0.0.7 (#140)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Change to updated commenting
  .github/workflows/pr_ci.yaml
Due: none

add: test action
  .github/workflows/ci.yaml
Due: none

ADD: tf_keras as conditional dependency
  pyproject.toml
  requirements.txt
Due: none

fix
  pyproject.toml
  requirements.txt
Due: none

fix
  pyproject.toml
Due: none

FIX: tfp version >=0.22 (#142)
  pyproject.toml
  requirements.txt
Due: none

test push
  requirements.txt
Due: none

update poetry.lock file
  poetry.lock
Due: none

update poetry.lock file (#143)
  poetry.lock
Due: none

Change version to v0.0.8 (#144)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: utility of exit option
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: exit option test
  tests/unit_tests/test_tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ReFIX for merge
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
  requirements.txt
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
