Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

FIX: readme
  README.md
Due: none

Release (#85)
  .github/workflows/ci.yaml
  README.md
Due: none

attempt at new gh action
  .github/workflows/draft_paper.yml
Due: none

fix action
  .github/workflows/draft_paper.yml
Due: none

test splitting
  .github/actions/build_draft.yaml
  .github/workflows/draft_paper.yml
Due: none

fix
  .github/workflows/draft_paper.yml
Due: none

test
  .github/workflows/draft_paper.yml
Due: none

test
  .github/actions/build_draft.yaml
  .github/workflows/draft_paper.yml
Due: none

test
  .github/actions/build-draft.yaml
  .github/workflows/draft_paper.yml
Due: none

test
  .github/actions/build-draft/action.yaml
  .github/workflows/draft_paper.yml
Due: none

test
  .github/actions/build-draft.yaml
Due: none

fix p
  .github/actions/build-draft.yaml
  .github/actions/build-draft/action.yaml
Due: none

few fixes
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update notebook
  notebooks/data/dataset_creation.ipynb
Due: nbstripout

FIX: get_full_dataset with None features
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small update readme
  README.md
Due: none

ENH: change logo
  mkdocs.yaml
Due: none

FIX: diverse small fixes
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Update notebooks
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/logistic_regression.ipynb
  notebooks/models/nested_logit.ipynb
  notebooks/models/simple_mnl.ipynb
Due: nbstripout

ADD: pip install + run test action
  .github/workflows/test_pypi.yaml
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update illustration
  docs/illustrations/features_storage.png
  docs/paper/memory_usage.ipynb
  docs/paper/paper.md
Due: nbstripout

ADD: pythonpath for pytest
  pyproject.toml
Due: none

ENH: reformulation
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

RM: added by error notebook
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

small updates on notebooks (#87)
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ENH: PyPI push action
  .github/workflows/release_pypi.yaml
Due: none

attempt at table
  docs/illustrations/features_storage_2.png
  docs/paper/paper.md
  docs/paper/table.md
Due: none

attempt at table
  docs/paper/paper.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
