Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

Dev 1st test (#3)
  .pre-commit-config.yaml
  choice_learn/__init__.py
  choice_learn/data/__init__.py
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/store.py
  choice_learn/models/__init__.py
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/rumnet.py
  choice_learn/tf_ops.py
  lib/.gitkeep
  pyproject.toml
  tests/unit_tests/.gitkeep
  tests/unit_tests/data/test_store.py
  tests/unit_tests/test_placeholder.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: indexer getitem was missing slice as input
  choice_learn/data/indexer.py
  choice_learn/data/store.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: store unit tests
  tests/unit_tests/data/test_store.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: small slice fixes
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: ChoiceDatset Unit Tests
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: ChoiceDataset when None given
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: swissmetro loader
  choice_learn/datasets/base.py
  choice_learn/datasets/data/swissmetro.csv.gz
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: beautification of repository
  README.md
  notebooks/template.ipynb
Due: nbstripout

ADD: ModeCanada DataLoader
  choice_learn/datasets/base.py
  choice_learn/datasets/data/ModeCanada.csv.gz
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: SM loader now returns ChoiceDataset with features names
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: as_frame argument now coded
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: datasets imported from /datasets level
  choice_learn/datasets/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: data example notebook
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

FIX: CD.batch() -> CD.iter_batch()
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: conditional logit example notebook
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

ENH: import level for data & models
  choice_learn/data/__init__.py
  choice_learn/models/__init__.py
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: ReadMe
  README.md
  docs/choice_learn_official_logo.png
Due: none

ADD: 1st version of custom model notebook
  notebooks/custom_model.ipynb
Due: nbstripout

ADD: ~finished custom model notebook
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: ~finished custom model notebook
  notebooks/custom_model.ipynb
Due: nbstripout

small modifs
  notebooks/custom_model.ipynb
Due: nbstripout

enh: add link to notebooks
  README.md
Due: none

ADD: missing possibility for specification of cmnl
  README.md
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

ADD: few detailsé
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: filter method
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: filter method tests
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: auto mkdoc on release
  .github/workflows/deploy_docs.yaml
Due: none

ENH: dataframe loading
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/custom_model.ipynb
Due: nbstripout

ENH: small modifs
  README.md
Due: none

ENH: keep some outputs of example notebooks
  choice_learn/models/conditional_mnl.py
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/custom_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: completely WIP proposal, for a different ChoiceDataset signature (core init)
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base mkdoc
  docs/explanations.md
  docs/how-to-guides.md
  docs/references.md
  docs/tutorials.md
Due: none

ENH: mkdoc - initialization
  docs/choice_dataset_usage.md
  docs/references_base_model.md
  docs/references_clogit.md
  docs/references_data.md
  docs/references_rumnet.md
  mkdocs.yaml
Due: none

ADD: example notebooks
  choice_learn/data/choice_dataset.py
  docs/choice_dataset_usage.md
  mkdocs.yaml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

enh: index
  docs/index.md
Due: none

ADD: easy doc rebuild with GA
  .github/workflows/deploy_docs.yaml
Due: none

ADD: nbconvert for mkdocs
  requirements-developer.txt
Due: none

small modifs
  docs/choice_dataset_usage.md
  mkdocs.yaml
  requirements-developer.txt
Due: none

DOC: Reorg
  docs/references/data/references_choice_dataset.md
  docs/references/data/references_dataset.md
  docs/references/data/references_store.md
  docs/references/models/references_base_model.md
  docs/references/models/references_clogit.md
  docs/references/models/references_rumnet.md
  mkdocs.yaml
Due: none

fix branch mkdocs on push
  .github/workflows/deploy_docs.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
