Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

ADD: Dataset illustration
  docs/illustrations/choice_learn_dataset.png
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: FeaturesStorage illustration
  docs/illustrations/choice_learn_features_storage.png
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

STYLE: small correction
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ENH: paper better organized & better content
  docs/paper/paper.md
Due: none

FIX: references now between quotes
  docs/paper/paper.md
Due: none

REFIX: issue was ; not quotes
  docs/paper/paper.md
Due: none

ADD: optimizers references
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

ADD: Restructuration beginning
  choice_learn/data/choice_dataset.py
  notebooks/choice_learn_introduction_data.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: finished transitioned instantiation fo dataset
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: new _from_single_wide_df
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: from single wide df: instantiation ~ok
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: only missing batching methods
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: new & cleaner (?) batching method
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: naming 'fixed' -> 'shared'
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Indexer follows new signature
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

STYLE: Ruff & others
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: wrongly named variable
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: 1st dataset loaders following new signature
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: first round of fixes after new signature
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: debugging from using notebook
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: data example from last changes
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: all loader now follow new signature + some FIXes
  choice_learn/datasets/base.py
  choice_learn/datasets/examples.py
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: adapted tests with new signature
  tests/unit_tests/data/test_choice_dataset.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: resignaturing model
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base_model new signature
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tf_ops new signature
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: baseline models
  choice_learn/models/baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tf_ops tests
  tests/unit_tests/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: base model new signature
  choice_learn/models/__init__.py
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: SimpleMNL new signature
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: now working introductive notebook
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: tf_ops base tests
  tests/unit_tests/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: Dataset n_items is compute from choice in last resort, FIX: SimpleMNL
  choice_learn/data/choice_dataset.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: notebooks with new signature
  notebooks/introductive_example.ipynb
  notebooks/simple_mnl_mlogit.ipynb
Due: nbstripout

FIX: pre commits
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
  choice_learn/tf_ops.py
  notebooks/introductive_example.ipynb
  notebooks/simple_mnl_mlogit.ipynb
  tests/unit_tests/tf_ops.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD/ENH: conditionalMNL signature + code enhancing
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX & CLEAN
  choice_learn/datasets/base.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small improvements in cMNL notebook
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

rename file
  notebooks/simple_mnl_example.ipynb
Due: nbstripout

ADD: working custom modelling notebook
  notebooks/custom_model.ipynb
  notebooks/introductive_example.ipynb
Due: nbstripout
