Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

FIX: returned assormtent with right indexes
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: attribute for outside option to be given or not
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: more complete Assortment Optimization example notebook
  notebooks/assortment_example.ipynb
Due: nbstripout

fixes from other branches to pass CI
  choice_learn/models/base_model.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

RM: useless file
  choice_learn/models/mix_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: modification for easier use of BaseLatentClass
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: better latent class example
  notebooks/latent_class_model.ipynb
  notebooks/mixture_mnl.ipynb
Due: nbstripout

FIX: test with get_n* instead of get_num*
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small changes
  choice_learn/datasets/base.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Train dataset loader
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: latest datasets in readme
  README.md
Due: none

ADD: some checks and types transformation for better robustness
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: train dataset loader
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

test
  README.md
Due: none

FIX: from merge, CI
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: links to datasets
  README.md
Due: none

ADD: some outputs of example
  notebooks/assortment_example.ipynb
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

FIX: use of deprecated get_num_*...
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better example notebooks outputs
  notebooks/assortment_example.ipynb
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

FIX: returned assortment & objective value
  choice_learn/toolbox/assortment_optimizer.py
  notebooks/assortment_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: details in ReadMe
  README.md
Due: none

ENH: ligther references
  README.md
Due: none

ADD: swissmetro dataset, desc & tutorial preprocessing in loader
  choice_learn/datasets/base.py
  notebooks/choice_learn_introduction_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: modecanda dataset desc & preprocessing
  choice_learn/datasets/base.py
  notebooks/choice_learn_introduction_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: datasets descriptions
  choice_learn/datasets/__init__.py
  choice_learn/datasets/base.py
  choice_learn/datasets/examples.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: TaFeng downloadable from choice_learn.datasets
  choice_learn/datasets/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: possibility to give features names as prefixes now (only suffixes were possible)
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: data preprocessing hidden in some examples
  choice_learn/datasets/base.py
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/custom_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: swissmetro rumnet preprocessing
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: update example
  notebooks/custom_model.ipynb
  notebooks/rumnet_example.ipynb
Due: nbstripout

ADD: expedia.csv git ignored
  .gitignore
Due: none

FIX: some FeaturesByIDs constructions...
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: path to file
  choice_learn/datasets/examples.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Expedia Dataset (finally there )
  choice_learn/data/indexer.py
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: readme & __init__
  choice_learn/datasets/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: expedia limit ids, rumnet handle None data
  README.md
  choice_learn/datasets/expedia.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: GPURUMnet batch_predict sitll had old signature
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Expedia Dataset fittin in RUMnet example
  choice_learn/datasets/expedia.py
  notebooks/rumnet_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: multiline arguments in readme example
  README.md
Due: none

FIX: CD.from_wide_df fixed_items_features shape
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
