Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ADD: .csv.gzip all loaded with pandas
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: SwissMetro loader test func
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: load_tafeng default processing + ADD: dataets loader tests
  choice_learn/datasets/examples.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: test == with tuple directly
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Python 3.8 compat for path detection with importlib.resources
  choice_learn/datasets/base.py
  choice_learn/datasets/data/__init__.py
  choice_learn/datasets/examples.py
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: __init__ files
  choice_learn/datasets/data/__init__.py
  choice_learn/toolbox/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: addition to dummy CAR_HE feature
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

RM: few unused imports in notebooks
  notebooks/latent_class_model.ipynb
  notebooks/simple_mnl_mlogit.ipynb
Due: nbstripout

ADD: complete requirements
  requirements-complete.txt
Due: none

FIX: pre-commits have been run
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
  choice_learn/datasets/data/__init__.py
  choice_learn/datasets/examples.py
  choice_learn/datasets/expedia.py
  choice_learn/toolbox/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: wrong changes with importlib.resources use
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX&ADD: datasets shapes
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

RM: Expedia datasets no logical test yet
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: weird pip freeze...
  requirements-complete.txt
Due: none

ENH: small modifs
  choice_learn/datasets/data/__init__.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: checked modif of choice_mode > choice_format
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: citations names consistency
  README.md
Due: none

ADD: MIT License
  LICENSE.md
Due: none

ENH: smal enhancement use of added prefice ;)
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: iteration over prefixes was done on suffixes....
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: init of restructuration
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: better simple example
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: last idea modif
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: simple example
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: skeleton of useful links
  notebooks/introductive_example.ipynb
Due: nbstripout

FIX: typo
  README.md
Due: none

ENH: small additions
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: paper draft/skeleton
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

ADD: gh action to build pdf while drafting
  .github/workflows/draft_paper.yml
Due: none

FIX: on
  .github/workflows/draft_paper.yml
Due: none

FIX: try fix
  .github/workflows/draft_paper.yml
Due: none

build paper on push in paper branch
  .github/workflows/draft_paper.yml
Due: none

ENH: new structure for data notebook
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/introductive_example.ipynb
Due: nbstripout

ENH: continuing further new data example
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ENH: finalized from single df example
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ENH: beginning of separating data types
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: additional work
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: NumPy & TensorFlow citations
  docs/paper/paper.bib
  docs/paper/paper.md
  notebooks/rumnet_example.ipynb
Due: nbstripout

ADD: Restructured FeaturesByIDs Example
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: finalized main content on data
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
