Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

FIX: ReadMe example
  README.md
Due: none

ENH: change example comments
  README.md
Due: none

FIX: rumnet regularization & evaluate
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: exact NLL now using custom re implementation
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: RUMnet regularization & evaluate (#126)
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

removed back quotes from title
  docs/paper/paper.md
Due: none

ENH: description of tqdm bars with losses
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small change on notebook
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: wrong change in index
  docs/index.md
Due: none

Enh/tqdm bar (#128)
  choice_learn/models/base_model.py
  docs/index.md
  notebooks/introduction/3_model_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: badges
  README.md
Due: none

ADD: coverage in PR CI from example
  .github/workflows/pr_ci.yaml
Due: none

ADD: pytest-cov in requirements
  pyproject.toml
Due: none

ADD: pytest-cov in requirements-dev.txt
  requirements-developer.txt
Due: none

FIX: cov version ?
  pyproject.toml
Due: none

FIX: cov version ?
  poetry.lock
  pyproject.toml
  requirements-developer.txt
Due: none

FIX: path to pkg in action
  .github/workflows/pr_ci.yaml
Due: none

back to previous versioning
  pyproject.toml
Due: none

ADD: coverage in PR CI from example (#130)
  .github/workflows/pr_ci.yaml
  poetry.lock
  requirements-developer.txt
Due: none

ENH: raw paths to imgs
  README.md
Due: none

ENH: dataset is now always choice_dataset
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: Baseline models with latest improvements and changes
  choice_learn/models/baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Basic tests for baseline models
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: unification of argument: dataset -> choice_dataset
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  choice_learn/models/nested_logit.py
  choice_learn/models/simple_mnl.py
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: *args for positional argumenting
  choice_learn/models/baseline_models.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: path to images in mkdoc
  docs/index.md
Due: none

ENH: Python badge (#132)
  README.md
Due: none

FIX: ReadMe example (#125)
  README.md
  docs/index.md
Due: none

ADD: additional tests for baseline models
  choice_learn/models/baseline_models.py
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: some more tests
  choice_learn/models/baseline_models.py
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: final baseline models test
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test for images in mkdocs
  docs/.overrides/assets/stylesheets/extra.css
  docs/index.md
  mkdocs.yaml
Due: none

ADD: additional tests for baseline models (#133)
  choice_learn/models/baseline_models.py
  docs/.overrides/assets/stylesheets/extra.css
  docs/index.md
  mkdocs.yaml
  tests/unit_tests/models/test_baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: input_shape is not longer an int in order to work with latest tf_keras distributions
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: requirements allow larger package versions
  requirements.txt
Due: none

STYLE: lint
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

-
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: pytest cov action now comments on Issue thread
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

ENH: small test for imgs in doc
  docs/index.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
