Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

Update README.md
  README.md
Due: none

small fix
  docs/illustrations/ram_usage_comparison.png
  docs/paper/memory_usage.ipynb
  docs/paper/paper.md
Due: nbstripout

FIX: lint
  README.md
Due: none

Paper (#108)
  docs/illustrations/ram_usage_comparison.png
  docs/paper/memory_usage.ipynb
  docs/paper/paper.md
Due: nbstripout

Update README.md (#107)
  README.md
Due: none

ENH: small enhancements
  docs/paper/memory_usage.ipynb
Due: nbstripout

attempt at reducing word count
  docs/paper/paper.md
Due: none

FIX: ArrayStorage when directly instantiated from ndarray
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: removed print
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: small enhancements
  docs/paper/memory_usage.ipynb
  docs/paper/paper.md
Due: nbstripout

ENH: better handling when features / availabilities are indexed with FeaturesStorage
  choice_learn/data/choice_dataset.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: ArrayStorage indexer & catching KeyErrors for custom messaging
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: ArrayStorage follows common structure with Indexers
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: store -> storage
  tests/unit_tests/data/test_storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: harmonize Error raised with missing key
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: KeyError test for all Storages
  tests/unit_tests/data/test_storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: linting
  choice_learn/data/storage.py
  tests/unit_tests/data/test_storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH/FIX: CD instantiation does not verify all IDs of FbIDs, it is now moved to another function that can be manually run
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: typo
  docs/paper/memory_usage.ipynb
Due: nbstripout

ENH/FIX: plots
  docs/illustrations/ram_usage_comparison.png
  docs/paper/memory_usage.ipynb
Due: nbstripout

Paper length reduction (#109)
  docs/illustrations/ram_usage_comparison.png
  docs/paper/memory_usage.ipynb
  docs/paper/paper.md
Due: nbstripout

ENH: Documentation Landing page
  README.md
  docs/index.md
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

ENH/FIX: Notebooks & Documentation (#110)
  README.md
  docs/index.md
  mkdocs.yaml
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/4_model_customization.ipynb
Due: nbstripout

ENH: test on landing page
  docs/index.md
Due: none

Enh/doc (#112)
  docs/index.md
Due: none

small enh
  docs/index.md
  notebooks/introduction/1_introductive_example.ipynb
Due: nbstripout

small fix
  docs/index.md
Due: none

Enh/doc (#113)
  docs/index.md
  notebooks/introduction/1_introductive_example.ipynb
Due: nbstripout

ENH: diverse improvements in the documentation
  README.md
  docs/explanations.md
  docs/how-to-guides.md
  docs/illustrations/logos/artefact_logo.png
  docs/index.md
  docs/tutorials.md
  mkdocs.yaml
Due: none

ENH: FeaturesStorage IDs checked automatically
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: Way faster FeaturesStorage instantiation in some edge cases
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: use numpy function instead of rewriting
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: lint
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: wrong called argument
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: trainable_weights as abstractmethod & property
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small enhancements in README
  README.md
Due: none

FIX: small tfp version
  pyproject.toml
Due: none

ADD: simpleMNL fit as test
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: requirements.txt
  requirements.txt
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
