Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: renaming .weights -> .trainable_weights
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/introductive_example.ipynb
  notebooks/simple_mnl_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: default optimizer now lbfgs, splitting base_model in two files with LatentClassBaseModel
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small cosmetic enhancements
  notebooks/introductive_example.ipynb
Due: nbstripout

ADD: CM illustration
  docs/illustrations/choice_learn_model.png
Due: none

ENH: better customization example
  notebooks/parameters_and_model_customization.ipynb
Due: nbstripout

ENH: cmnl exampl
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/simple_mnl_example.ipynb
Due: nbstripout

ADD: example & FIX: latent_class models
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  notebooks/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: logistic regression notebook up to date!
  notebooks/logistic_regression.ipynb
Due: nbstripout

ADD : little polishing in print
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC : changed a bit the sentences
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

REFAC: named as coefficients, no modelspecification anymore
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DEL: attempt to delete unused methods
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

REFAC: refac into _add_coefficient for both shared and not
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DEBUG: fix some stuff while testing .fit
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: features_by_id notebook complete with new signature
  notebooks/features_byID_example.ipynb
Due: nbstripout

ADD: rumnet following new signature
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: rumnet example
  notebooks/rumnet_example.ipynb
Due: nbstripout

ENH: renaming normalization > add_exit_choice + small fixes
  choice_learn/datasets/base.py
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small things
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/parameters_and_model_customization.ipynb
Due: nbstripout

ADD: renewed documentation - still to be improved
  docs/references/data/references_dataset.md
  docs/references/data/references_indexer.md
  docs/references/data/references_storage.md
  docs/references/data/references_store.md
  docs/references/datasets/references_base.md
  docs/references/datasets/references_examples.md
  docs/references/datasets/references_expedia.md
  docs/references/models/references_baseline_models.md
  docs/references/models/references_conditional_mnl.md
  docs/references/models/references_latent_class_base_model.md
  docs/references/models/references_latent_class_mnl.md
  docs/references/models/references_simple_mnl.md
  docs/references/toolbox/references_assortment_optimizer.md
  mkdocs.yaml
Due: none

REFAC : instantiate
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD : some rephrase in notebook
  choice_learn/models/conditional_mnl.py
  notebooks/choice_learn_introduction_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Update README.md
  README.md
Due: none

FIX: removed repeated arg
  notebooks/rumnet_example.ipynb
Due: nbstripout

ADD: TasteNet skeleton
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base working TasteNet
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: SwissMetro preprocessing for TasteNet
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base notebook for TasteNet
  notebooks/tastenet_example.ipynb
Due: nbstripout

ENH: add some shapes verifications & lazy instantiate
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: wrong Return in fit DocString
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: TasteNet in ReadME
  README.md
Due: none

FIX: check on parameters shape
  choice_learn/models/tastenet.py
  notebooks/tastenet_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: Parameters -> Paramters: in DocString + small modifs
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
  choice_learn/data/store.py
  choice_learn/datasets/base.py
  choice_learn/datasets/examples.py
  choice_learn/datasets/expedia.py
  choice_learn/models/base_model.py
  choice_learn/models/baseline_models.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  choice_learn/models/rumnet.py
  choice_learn/models/simple_mnl.py
  choice_learn/tf_ops.py
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX/ENH: CLogit notebook
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

FIX: added whitespaces are removed
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: ReadMe links
  README.md
Due: none

ENH: updates code example
  README.md
Due: none

ADD: complete TasteNet preprocessing
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: lbfgs fit now returns a dict with loss values
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: exp mu normalization in activation
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
