Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: argument of CustomCE for future keras version
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: added missing tqdm dependancy
  pyproject.toml
Due: none

ENH: clearer introduction
  README.md
Due: none

FIX: renamed file
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: indexer tests
  README.md
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: nests correlation computation
  notebooks/models/nested_logit.ipynb
Due: nbstripout

FIX: simple MNL assortment
  choice_learn/toolbox/assortment_optimizer.py
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: simple MNL assortment (#74)
  choice_learn/toolbox/assortment_optimizer.py
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: faster iteration over dataset for batch_size=-1
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  notebooks/introduction/3_model_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Faster iteration over batch_size=-1 dataset (#75)
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  notebooks/introduction/3_model_clogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: small changes in reademe
  README.md
Due: none

ENH: larger logo
  README.md
Due: none

ADD: logos
  README.md
  docs/illustrations/logos/choice_learn_official_logo.png
  docs/illustrations/logos/logo_CS.png
  docs/illustrations/logos/logo_arc.png
  docs/illustrations/logos/logo_artefact_main.png
  notebooks/introduction/1_introductive_example.ipynb
Due: nbstripout

ADD: logo Paris Saclay
  README.md
  docs/illustrations/logos/logo_paris_saclay.png
Due: none

FIX: links ?
  README.md
Due: none

ENH: removed useless directories
  config/config.py
  config/config.toml
  secrets/.gitkeep
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: question template
  .github/ISSUE_TEMPLATE/question.md
Due: none

ENH: template question
  .github/ISSUE_TEMPLATE/question.md
Due: none

ADD: contribution guidelines
  CONTRIBUTING.md
  README.md
Due: none

ENH: CI run also on push to main
  .github/workflows/ci.yaml
Due: none

ENH: separate push to main & PR CIs
  .github/workflows/pr_ci.yaml
Due: none

FIX: main branch CI
  .github/workflows/ci.yaml
Due: none

ADD: elements in contributing.md
  CONTRIBUTING.md
Due: none

FIX: GitHub action name
  .github/workflows/ci.yaml
Due: none

ADD: local install in contributing
  CONTRIBUTING.md
  README.md
Due: none

ADD: code owners file
  .github/CODEOWNERS
Due: none

ADD: availabilities as fbids
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: almost ok 1 dimensional items_features fbid
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: re added shapes check for fbdid of ndim 1
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: .get_choices_batch lagging behind .batch + additional error raised
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: removed pring
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: get_choices_batch (#79)
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

change name for readme
  .github/workflows/ci.yaml
Due: none

ADD: TF doc in readme
  README.md
Due: none

ENH: memory usage graphics
  docs/paper/memory_usage.ipynb
Due: nbstripout

ADD: backbone to handle both Gurobi & OR-Tools solvers
  choice_learn/toolbox/assortment_optimizer.py
  choice_learn/toolbox/gurobi_opt.py
  choice_learn/toolbox/or_tools_opt.py
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: add solvers in readme
  README.md
Due: none

FIX: links
  README.md
Due: none

ADD: logo within repo
  README.md
  docs/illustrations/logos/gurobi_logo.png
  docs/illustrations/logos/numpy_logo.png
  docs/illustrations/logos/or_tools_logo.png
  docs/illustrations/logos/pandas_logo.png
  docs/illustrations/logos/tf_logo.png
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
