Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

commit du we, unfinished business :/
  choice_learn/datasets/data/train_data.csv.gz
  choice_learn/models/base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: wip MixMNL notebook
  notebooks/simple_and_mix_logit.ipynb
Due: nbstripout

ENH: from Luca's remarks round 1
  README.md
Due: none

ENH: ReadMe
  README.md
Due: none

ADD: precommit fixes
  README.md
  notebooks/choice_learn_introduction_data.ipynb
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: consitency in nummber & subset fix
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: new Mixture archi
  choice_learn/models/base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tolerance argument for lbfgs optim
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: verbosity
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: kwargs, tolerance & other arguments
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

WIP: notebooks
  notebooks/mixture_mnl.ipynb
  notebooks/simple_and_mix_logit.ipynb
Due: nbstripout

CHANGE: allow os.path use
  pyproject.toml
Due: none

ENH: completed renaming choice-mode -> choice_format
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/custom_model.ipynb
  notebooks/dataset_creation.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

minor change
  choice_learn/data/choice_dataset.py
  notebooks/choice_learn_introduction_data.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: LBFGS working opti of Mixture
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: organization of BaseLatentClass
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small improvements
  choice_learn/models/mix_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: specific class for LatentClass simple MNL
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Idea for LatentClassConditionalMNL
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: LatentClassMNL ok with _fit_lbfgs
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

WIP notebook
  notebooks/mixture_mnl.ipynb
Due: nbstripout

ENH: from Luca's suggestions, round 3 !
  README_review.md
Due: none

ENH: clean Simple MNL - comparison with mlogit notebook
  notebooks/simple_and_mix_logit.ipynb
  notebooks/simple_mnl_mlogit.ipynb
Due: nbstripout

ADD: base loader for electricity dataset
  choice_learn/datasets/__init__.py
  choice_learn/datasets/base.py
  choice_learn/datasets/data/electricity.csv.gz
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: working Latent Class MLE fit for simpleMNL
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

updated example
  choice_learn/models/base_model.py
  notebooks/mixture_mnl.ipynb
  notebooks/rumnet_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: small modifs
  choice_learn/datasets/base.py
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better instantiation of LatentClassConditionalMNL
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

merging enhancements from different branches
  choice_learn/models/latent_class_mnl.py
  notebooks/mixture_mnl.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: basic working LC-ConditionalMNL
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX/ADD: small fixes & additions in Base LatentClass model
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: Conditional MNL latent class avoids superposition of instantiations
  choice_learn/models/conditional_mnl.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update notebook
  notebooks/mixture_mnl.ipynb
Due: nbstripout

ADD: beginning of assortment example
  notebooks/assortment_example.ipynb
Due: nbstripout

ENH: better assort_example preprocessing
  choice_learn/datasets/examples.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: PriceMNL for assort example
  notebooks/assortment_example.ipynb
Due: nbstripout

FIX: exit option utility
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: few elements on assortment opt
  notebooks/assortment_example.ipynb
Due: nbstripout

ADD: working Size Constraint LP
  choice_learn/toolbox/assortment_optimizer.py
  notebooks/assortment_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check
