Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

try new parameters
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: paper_rumnet
  choice_learn/models/rumnet.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Learning-MNL (#171)
  .github/actions/publish/action.yaml
  README.md
  choice_learn/models/__init__.py
  choice_learn/models/base_model.py
  choice_learn/models/learning_mnl.py
  choice_learn/models/rumnet.py
  notebooks/models/learning_mnl.ipynb
  tests/unit_tests/models/test_base_model.py
  tests/unit_tests/models/test_l_mnl.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: ReadMe tables
  README.md
Due: none

ADD: missing references
  docs/references/models/references_learning_mnl.md
  docs/references/models/references_reslogit.md
  mkdocs.yaml
Due: none

ENH: align tables
  README.md
Due: none

ENH: readme
  README.md
Due: none

Update mkdocs.yaml
  mkdocs.yaml
Due: none

Update index.md
  docs/index.md
Due: none

Add colab links to example notebooks
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/data/dataset_creation.ipynb
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

ENH: README (#173)
  README.md
  docs/index.md
  docs/references/models/references_learning_mnl.md
  docs/references/models/references_reslogit.md
  mkdocs.yaml
Due: none

ADD: colab logo in README with wrong links
  README.md
  notebooks/introduction/1_introductive_example.ipynb
Due: nbstripout

ADD: right colab links
  README.md
Due: none

ADD: link in each notebook
  README.md
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/learning_mnl.ipynb
  notebooks/models/logistic_regression.ipynb
  notebooks/models/nested_logit.ipynb
  notebooks/models/reslogit.ipynb
  notebooks/models/rumnet.ipynb
  notebooks/models/simple_mnl.ipynb
  notebooks/models/tastenet.ipynb
Due: nbstripout

Run pre-commits
  notebooks/data/dataset_creation.ipynb
Due: nbstripout

ADD: some cells outputs
  notebooks/data/dataset_creation.ipynb
  notebooks/data/features_byID_examples.ipynb
Due: nbstripout

Add colab notebooks links (#175)
  README.md
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/data/dataset_creation.ipynb
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/learning_mnl.ipynb
  notebooks/models/logistic_regression.ipynb
  notebooks/models/nested_logit.ipynb
  notebooks/models/reslogit.ipynb
  notebooks/models/rumnet.ipynb
  notebooks/models/simple_mnl.ipynb
  notebooks/models/tastenet.ipynb
Due: nbstripout

FEAT(pre-commit): use public hooks
  .pre-commit-config.yaml
Due: none

FEAT(pre-commit): run hooks and apply pyupgrade
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/build-draft.yaml
  .github/actions/build-draft/action.yaml
  .github/actions/publish/action.yaml
  .github/workflows/deploy_docs.yaml
  .github/workflows/draft_paper.yml
  .github/workflows/pr_ci.yaml
  .github/workflows/release_pypi.yaml
  choice_learn/data/choice_dataset.py
  choice_learn/data/storage.py
  choice_learn/data/store.py
  choice_learn/datasets/base.py
  choice_learn/models/base_model.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/learning_mnl.py
  choice_learn/toolbox/assortment_optimizer.py
  choice_learn/toolbox/gurobi_opt.py
  choice_learn/toolbox/or_tools_opt.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FEAT(actions): remove pre-commit from github actions
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

FEAT(actions): merge ci.yaml and pr_ci.yaml
  .github/workflows/ci.yaml
  .github/workflows/pr_ci.yaml
Due: none

FEAT(actions): run tests in parallel
  .github/workflows/ci.yaml
  pyproject.toml
  requirements-developer.txt
Due: none

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

Make hooks faster (#177)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/build-draft.yaml
  .github/actions/build-draft/action.yaml
  .github/actions/publish/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
  .github/workflows/draft_paper.yml
  .github/workflows/pr_ci.yaml
  .github/workflows/release_pypi.yaml
  .pre-commit-config.yaml
  choice_learn/data/choice_dataset.py
  choice_learn/data/storage.py
  choice_learn/data/store.py
  choice_learn/datasets/base.py
  choice_learn/models/base_model.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/learning_mnl.py
  choice_learn/toolbox/assortment_optimizer.py
  choice_learn/toolbox/gurobi_opt.py
  choice_learn/toolbox/or_tools_opt.py
  pyproject.toml
  requirements-developer.txt
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update poetry.lock
  README.md
  poetry.lock
Due: none

update rm
  README.md
Due: none

update poetry.lock (#180)
  README.md
  poetry.lock
Due: none

Change version to v1.1.0
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Change version to v1.1.0 (#181)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

chore(ci): Update versions in ci.yaml
  .github/workflows/ci.yaml
Due: none

chore(ci): update versions in action.yaml
  .github/actions/publish/action.yaml
Due: none

chore(ci): update versions in deploy_docs.yaml
  .github/workflows/deploy_docs.yaml
Due: none

Update actions to satisfy minimum nodejs version (#187)
  .github/actions/publish/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy_docs.yaml
Due: none

FIX: forgotten remainings of renaming of tolerance argument into lbfgs_tolerance
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: updates notebook
  notebooks/models/latent_class_model.ipynb
Due: nbstripout

ADD: basic LC model tests
  tests/integration_tests/models/test_latent_class.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tolerance
  notebooks/models/latent_class_model.ipynb
Due: nbstripout

ADD: eagerly exec for SimpleMNL
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Fix tolerance argument in LatentClass Model (#190)
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  notebooks/models/latent_class_model.ipynb
  tests/integration_tests/models/test_latent_class.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: few basic tests
  tests/integration_tests/models/test_latent_class.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
