Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: AssortOpt example
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

ADD: pricing opt + FIX: last item in opt
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: intro to pricing with MNLs
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

ADD: Pricing optimizer
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better assort optim example with pricing & more
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

updated readme references with Assort Opt references
  README.md
Due: none

FIX: cache now saved in cache...
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

changed pydocstyle to numpy
  pyproject.toml
Due: none

changed docstring to numpy type
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
  choice_learn/data/store.py
  choice_learn/datasets/base.py
  choice_learn/datasets/expedia.py
  choice_learn/datasets/tafeng.py
  choice_learn/models/base_model.py
  choice_learn/models/baseline_models.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  choice_learn/models/rumnet.py
  choice_learn/models/simple_mnl.py
  choice_learn/models/tastenet.py
  choice_learn/tf_ops.py
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: example model from paper on Swissmetro
  docs/paper/non_linear_utility_example.ipynb
  docs/paper/paper.md
Due: nbstripout

ADD: poetry & semantic release - test
  pyproject.toml
Due: none

FIX: mkdocs.yaml
  mkdocs.yaml
Due: none

Update references_tafeng.md
  docs/references/datasets/references_tafeng.md
Due: none

ENH: lower tf dependancy
  pyproject.toml
Due: none

FIX: clogit doc
  docs/references/models/references_clogit.md
  docs/references/models/references_conditional_mnl.md
Due: none

FIX: path for mkdoc
  docs/how-to-guides.md
  docs/notebooks/models/conditional_logit.md
  docs/notebooks/models/custom_modelling.md
  mkdocs.yaml
  notebooks/models/custom_modelling.md
Due: none

ENH: mkdoc orga
  docs/notebooks/models/conditional_logit.md
  docs/notebooks/models/custom_modelling.md
  mkdocs.yaml
Due: none

ENH: mkdoc orga (#64)
  docs/notebooks/models/conditional_logit.md
  docs/notebooks/models/custom_modelling.md
  mkdocs.yaml
Due: none

FIX: final mkdocs
  mkdocs.yaml
Due: none

ADD: affiliations & some explanation from readm in documentation
  README.md
  docs/index.md
Due: none

Fix/mkdoc (#65)
  README.md
  docs/index.md
  mkdocs.yaml
Due: none

ADD: car dataset
  choice_learn/datasets/base.py
  choice_learn/datasets/data/car.csv.gz
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: check on choices shape in from_wide
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Car Preferences dataset loader as ChoiceDataset
  choice_learn/datasets/__init__.py
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base test for car preferences dataset
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: car dataset listed in readme
  README.md
Due: none

ADD: tastenet references & better intodcution
  docs/index.md
  docs/references/models/references_tastenet.md
Due: none

FIX: small fixes
  choice_learn/datasets/base.py
  docs/index.md
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: report coefficient names are cleaner
  choice_learn/models/conditional_logit.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small enhancements
  README.md
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ADD: L1/L2 regularization
  choice_learn/models/base_model.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: init nested logit
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: checks on nests specifications
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: error raised for unknown weight mode
  choice_learn/models/conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: base instantiation for nested logit
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: some doc on models standard hyperparameters
  docs/notebooks/models/models_finetuning.md
  mkdocs.yaml
Due: none

ADD: first version of models hyperparameters doc
  docs/notebooks/models/models_finetuning.md
Due: none

ENH: docstrings details
  choice_learn/models/conditional_logit.py
  choice_learn/models/nested_logit.py
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small modif
  docs/paper/memory_usage.ipynb
Due: nbstripout

ADD: L1L2 Regularization + argument renaming
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
