Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

test: invisible bond
  docs/paper/paper.md
Due: none

FIX: few links
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: few links (#98)
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: pandas citation
  docs/paper/paper.bib
Due: none

FIX: citation
  docs/paper/paper.bib
Due: none

FIX: citation links dates
  docs/paper/paper.bib
Due: none

FIX: citation links dates type
  docs/paper/paper.bib
Due: none

FIX: et al.
  docs/paper/paper.bib
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: et al.?
  docs/paper/paper.bib
Due: none

ADD: ArrayStorage
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: according tests
  choice_learn/data/storage.py
  tests/unit_tests/data/test_store.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: finished modifying tests
  tests/unit_tests/data/test_store.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: documentatiopn
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: adapted notebook for Storages
  notebooks/data/features_byID_examples.ipynb
Due: nbstripout

FIX: test
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Enh/storages (#100)
  choice_learn/data/storage.py
  notebooks/data/features_byID_examples.ipynb
  tests/unit_tests/data/test_store.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Update README.md
  README.md
Due: none

Release v0.0.4 (#103)
  README.md
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

hotfix
  choice_learn/__init__.py
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

hotfix (#104)
  choice_learn/__init__.py
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: few modifications in doc
  docs/index.md
  mkdocs.yaml
Due: none

some more minor modifs
  README.md
  docs/index.md
Due: none

Small editions
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/4_model_customization.ipynb
Due: nbstripout

Paper Editions (#99)
  docs/paper/paper.bib
  docs/paper/paper.md
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

RM: useless file
  docs/paper/table.md
Due: none

FIX: added DOIs
  docs/paper/paper.bib
Due: none

ADD: DOIs (#105)
  docs/paper/paper.bib
Due: none

FIX: DOIs
  docs/paper/paper.bib
Due: none

Paper (#106)
  docs/paper/paper.bib
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
