Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: small modifs
  docs/paper/paper.md
Due: none

TEST: space
  docs/paper/paper.md
Due: none

FIX: table ref ?
  docs/paper/paper.md
Due: none

ADD: ORCID
  docs/paper/paper.md
Due: none

ENH: reversioned
  docs/paper/memory_usage.ipynb
  docs/paper/non_linear_utility_example.ipynb
Due: nbstripout

small typos (#92)
  README.md
  docs/illustrations/choice_learn_dataset.png
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ADD: paper draft (#95)
  .github/actions/build-draft.yaml
  .github/actions/build-draft/action.yaml
  .github/workflows/draft_paper.yml
  choice_learn/datasets/expedia.py
  docs/illustrations/expedia_RAM.png
  docs/illustrations/fbid_RAM.png
  docs/illustrations/features_storage.png
  docs/illustrations/features_storage_2.png
  docs/illustrations/features_storage_3.png
  docs/illustrations/full_ram.png
  docs/illustrations/items_vs_shared_features.png
  docs/illustrations/memory_usage_comparison.png
  docs/illustrations/table.png
  docs/paper/memory_usage.ipynb
  docs/paper/non_linear_utility_example.ipynb
  docs/paper/paper.bib
  docs/paper/paper.md
  docs/paper/table.md
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: versioning name
  .github/actions/publish/action.yaml
  pyproject.toml
Due: none

FIX: versioning name
  .github/actions/publish/action.yaml
Due: none

Fix/auto release (#96)
  .github/actions/publish/action.yaml
  pyproject.toml
Due: none

FIX: test
  .github/workflows/release_pypi.yaml
Due: none

test
  .github/workflows/release_pypi.yaml
Due: none

test
  .github/actions/publish/action.yaml
Due: none

fixes and versioning
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Version 0.0.3 and small fixes (#97)
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

test: invisible bond
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

test: invisible bond
  docs/paper/paper.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
