Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

ADD: custom publish action
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
Due: none

update readme
  README.md
Due: none

ENH: Attempt at splitting TestPyPI & PyPI
  .github/workflows/release_pypi.yaml
  .github/workflows/release_test_pypi.yaml
Due: none

ADD: ORCIDs
  docs/paper/paper.md
Due: none

ENH: Auto-Release to PyPI (#91)
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
  .github/workflows/release_test_pypi.yaml
  README.md
Due: none

small typos
  README.md
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

small edits
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ENH: fix links
  notebooks/introduction/1_introductive_example.ipynb
Due: nbstripout

FIX: links
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

ENH: workflow names
  .github/workflows/release_pypi.yaml
  .github/workflows/release_test_pypi.yaml
Due: none

FIX: checkout in action
  .github/workflows/release_test_pypi.yaml
Due: none

FIX: commented line
  .github/actions/publish/action.yaml
Due: none

ENH: add keep_output tag for table
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: access token
  .github/workflows/release_pypi.yaml
  .github/workflows/release_test_pypi.yaml
Due: none

FIX: TestPyPI url
  .github/workflows/release_test_pypi.yaml
Due: none

FIX: TestPyPI url
  .github/actions/publish/action.yaml
Due: none

fixes
  .github/actions/publish/action.yaml
  .github/workflows/release_test_pypi.yaml
Due: none

ADD: dataset illustration
  docs/illustrations/choice_learn_dataset.png
Due: none

change workflow order strategy
  .github/workflows/release_pypi.yaml
Due: none

FIX: manual test
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: loss reduction ?
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

fix: changed reduction method
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

test
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: Ruff
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Feat/auto-release (#94)
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
  .github/workflows/release_test_pypi.yaml
  choice_learn/models/base_model.py
  choice_learn/tf_ops.py
  tests/manual_run.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: from Antoine's remarks (#93)
  docs/illustrations/choice_learn_dataset.png
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ENH: from remarks
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

test paper
  docs/paper/paper.md
Due: none

cleaning
  docs/paper/paper.md
  docs/paper/table.md
Due: none

test without reg.
  docs/paper/paper.md
  docs/paper/table.md
Due: none

TEST: est -> optim
  docs/paper/paper.md
Due: none

optim->optimizer
  docs/paper/paper.md
Due: none

test
  docs/paper/paper.md
Due: none

>GD
  docs/paper/paper.md
Due: none

fix: references
  docs/paper/paper.md
Due: none

test column size
  docs/paper/paper.md
Due: none

ENH: small modifs
  docs/paper/paper.md
Due: none
