Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ADD: tfp as requirement in README
  README.md
Due: none

ENH: match latest signature
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: latest signature in example
  README.md
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/custom_model.ipynb
Due: nbstripout

FIX: add local in requirements
  requirements.txt
Due: none

stop deploy doc on PR
  .github/workflows/deploy_docs.yaml
Due: none

ADD: base for MixMNL
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/mix_mnl.py
  notebooks/mixture_mnl.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

small changes on example
  notebooks/rumnet_example.ipynb
Due: nbstripout

ADD: Pure NLL + Optimized Loss in model evaluation
  choice_learn/models/base_model.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: small modifs
  notebooks/rumnet_example.ipynb
Due: nbstripout

ENH: from_single_df -> from_single_long_df
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update notebook with 'long' keyword
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/custom_model.ipynb
  notebooks/dataset_creation.ipynb
Due: nbstripout

small update
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

ADD: changed tests according to new signature
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: some typos
  README.md
Due: none

ENH: change some explanation about CD from wide DF
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: AssortmentOptimizer skeleton
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: AssortOptimizer baseclass
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: some doc
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: baseline models organization
  choice_learn/models/base_model.py
  choice_learn/models/baseline_models.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: n_features getters
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Base Linear MNL
  choice_learn/models/mix_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: ensure float32 dtype for default availabilities
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: iteration over features when is None in compute_utilities
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Logitstic Regression tutorial notebook
  notebooks/logistic_regression.ipynb
Due: nbstripout

FIX: evaluation of contexts items features nb
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: file & base loader for Heating Dataset
  choice_learn/datasets/base.py
  choice_learn/datasets/data/heating_data.csv.gz
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: std with nb of features
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: smarter & functioning simpleMNL
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Update README.md
  README.md
Due: none

add copy of readme to be able to comment it
  README_review.md
Due: none

ADD: important illustration
  notebooks/logistic_regression.ipynb
Due: nbstripout

ADD: typo and suggestions for README
  README.md
Due: none

ADD: intercept + intercept modes in SimpleMNL
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Example for simple MNL base on mlogit package & Heating Dataset
  notebooks/simple_and_mix_logit.ipynb
Due: nbstripout

some cleaning
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: requirements with python version explicit (took me time to install the environment... hehe)
  README.md
Due: none

FIX: changed way to locate data module (with os)
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: remove useless import
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: little explanations
  notebooks/simple_and_mix_logit.ipynb
Due: nbstripout

ADD : some cosmetics for notebooks (and choicedataset)
  choice_learn/data/choice_dataset.py
  notebooks/choice_learn_introduction_data.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
