Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

small changes
  choice_learn/models/base_model.py
  docs/notebooks/models/models_finetuning.md
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: mkdoc link to page
  mkdocs.yaml
Due: none

ADD: finalized 1st version of Nested Logit
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: flattening items
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: NestedLogit notebook initialization
  notebooks/models/nested_logit.ipynb
Due: nbstripout

ADD: details for batch_size
  docs/notebooks/models/models_finetuning.md
Due: none

ADD: gamma use
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: biogeme nested preprocessing for SwissMetro
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: nested preprocessing removing zeroing condition
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: iteration over weights in report
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: lbfgs base portability for Nested Logit
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: exact NLL
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: exact NLL computed in eval
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: gamma within sigmoid for [0, 1] value
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: temp devs
  notebooks/models/nested_logit.ipynb
Due: nbstripout

ENH: changed exact NLL by specific parametrization of CustomCategoricalCrossEntropy
  choice_learn/models/base_model.py
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: results closer to reality with exact nll
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ADD: base clean version of Nested Logit example
  notebooks/models/nested_logit.ipynb
Due: nbstripout

ENH: better code for report weight std
  choice_learn/models/conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Nested Logit report on weights values
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: doc with Nested Logit
  README.md
  docs/references/models/references_nested_logit.md
  docs/references/models/references_rumnet.md
  docs/references/models/references_tastenet.md
  mkdocs.yaml
Due: none

ADD: several small modifs
  README.md
  choice_learn/data/choice_dataset.py
  choice_learn/models/__init__.py
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: tests
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: tests ?
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: latest behaviour with wide df instantiation
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: shared_gamma, gamma clipping
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: mlogit example of Nested Logit
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/models/nested_logit.ipynb
Due: nbstripout

ADD: allow gamma > 1 & some doc enhancements
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: items_to_nest with size 1 nests
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: all examples from mlogit
  notebooks/models/nested_logit.ipynb
Due: nbstripout

ADD: HC dataset loader
  README.md
  choice_learn/datasets/__init__.py
  choice_learn/datasets/base.py
  choice_learn/datasets/data/HC.csv.gz
  notebooks/models/nested_logit.ipynb
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: warning when gamma < 0.05
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

STYLE: rm commented lines + keep some ipynb outputs
  choice_learn/datasets/base.py
  choice_learn/models/__init__.py
  notebooks/models/nested_logit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: msg for mac chips users
  README.md
Due: none

ADD: . at end of sentences
  README.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

FIX: sentence in readme.
  README.md
Due: none

ADD: TasteNet link to repositorieS
  README.md
Due: none

FIX: renamed test file for pytest...
  tests/unit_tests/test_tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check
