Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

small addition
  mkdocs.yaml
Due: none

ADD: refreshed RUMnet Off implem
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: MatrixRUMnet
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: automatic import of RUMnet with device detection
  choice_learn/models/__init__.py
  choice_learn/models/rumnet.py
  notebooks/rumnet_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: epsU->epsP->P shapes
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: SwissMetro training of rumnet example
  notebooks/rumnet_example.ipynb
Due: nbstripout

FIX: softmax & mean axis, tbv
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: train/test in example
  notebooks/rumnet_example.ipynb
Due: nbstripout

ENH: return type list then tuple
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: latest changes from CD.get_choices_batch
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: some checks on featuresByID
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Indexers now handle batching over several dimensions
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

on going change of fID mapping
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

unfinished fixes
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: new fID mapping for cif
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: renamed notebook + new better examples
  notebooks/features_byID_example.ipynb
  notebooks/features_storage_example.ipynb
Due: nbstripout

ADD: change in fID handling now for all features and indexer
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: default val of fID is now {}
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: softmax/mean dimensions after U
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: checks on model.instantiate() called or not
  choice_learn/models/base_model.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update notebooks
  notebooks/rumnet_example.ipynb
  notebooks/test_new_dataset.ipynb
Due: nbstripout

update doc
  mkdocs.yaml
Due: none

RM notebook
  notebooks/test_new_dataset.ipynb
Due: nbstripout

ADD: report function, std err, pval, z val, etc
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: report in example
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

ADD: method to clone ConditionalMNL
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX store -> storage in init'
  choice_learn/data/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: forgotten end of features when using fID
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better Storage example
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

small modifs
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

Update examples
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/features_byID_example.ipynb
Due: nbstripout

ADD little doc
  docs/how-to-guides.md
  docs/index.md
  docs/tutorials.md
  mkdocs.yaml
Due: none

ADD: from single wide df methdo
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: from single wide df example
  notebooks/dataset_creation.ipynb
Due: nbstripout

FIX: typo in issue
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: renaming, cleaning
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: new signature, better names & doc
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: some cleaning in code
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: moved tfp import inside report function
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: requirements.txt
  requirements.txt
Due: none
