Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

removed PTH110
  pyproject.toml
Due: none

FIX: .save and .load_model
  choice_learn/models/base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test for save/load
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: reg in fit_lbfgs
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Test eager mode for some model tests (#161)
  .gitignore
  choice_learn/models/base_model.py
  choice_learn/models/simple_mnl.py
  pyproject.toml
  tests/unit_tests/models/test_simplemnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: deal with some errors
  choice_learn/models/reslogit.py
  notebooks/models/reslogit_swissmetro.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: deal with some errors
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: typos
  choice_learn/tf_ops.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: executable now
  choice_learn/models/reslogit.py
  notebooks/models/reslogit_swissmetro.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: add instantiated in init
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: docstrings compute_batch_utility
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: typos in choice_format options
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

MAINT: prints
  notebooks/models/reslogit_swissmetro.ipynb
Due: nbstripout

ADD: reproduce results on toy dataset
  notebooks/models/reslogit_toy_dataset.ipynb
Due: nbstripout

FIX: match the original labels
  notebooks/models/reslogit_toy_dataset.ipynb
Due: nbstripout

ADD: simple MNL on SwissMetro for comparison
  notebooks/models/simple_mnl_swissmetro_comparison_for_reslogit.ipynb
Due: nbstripout

FIX: harmonization of metrics
  notebooks/models/reslogit_swissmetro.ipynb
  notebooks/models/simple_mnl_swissmetro_comparison_for_reslogit.ipynb
Due: nbstripout

MAINT: fix shapes in docstrings
  choice_learn/models/rumnet.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: reslogit in model init
  choice_learn/models/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: add instantiation test for reslogit
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: add intercept in docstrings
  notebooks/models/simple_mnl.ipynb
Due: nbstripout

TST: add reslogit integration tests
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: different nb of residual layers
  notebooks/models/reslogit_swissmetro.ipynb
Due: nbstripout

MAINT: rename reslogit notebook
  notebooks/models/reslogit.ipynb
Due: nbstripout

ADD: reslogit in readme
  README.md
Due: none

MAINT: fix typo
  README.md
Due: none

MAINT: remove comments
  choice_learn/models/reslogit.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: add different n_layers tests
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: finish reslogit docstrings
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: finish reslogit notebook
  notebooks/models/reslogit.ipynb
Due: nbstripout

ENH: delete some files
  choice_learn/models/reslogit_tf.py
  notebooks/models/reslogit_tf.ipynb
  notebooks/models/reslogit_toy_dataset.ipynb
  notebooks/models/simple_mnl_swissmetro_comparison_for_reslogit.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

MAINT: fix typo
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: add customizable res layers width
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: customizable res layers width
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: fix typo in readme
  README.md
Due: none

ENH: add customizable res layers activation
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: customizable res layers activation
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: type hinting reslogit.py
  choice_learn/models/reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: type hinting rumnet.py
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

MAINT: type hinting simple_mnl.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
