Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

FIX: logos sizes in mkdocs landing page
  docs/index.md
  mkdocs.yaml
Due: none

small changes
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Fix EM algorithm to fit Latent Class model (#152)
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small changes
  choice_learn/models/latent_class_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small changes
  choice_learn/models/latent_class_base_model.py
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

reset epsilon to 1e-35
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Fix logos on doc landing page (#153)
  choice_learn/models/latent_class_base_model.py
  docs/index.md
  mkdocs.yaml
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: wording
  docs/paper/paper.md
Due: none

FIX: wording (#154)
  docs/paper/paper.md
Due: none

ENH: some cleaning
  .github/workflows/draft_paper.yml
  docs/illustrations/expedia_RAM.png
  docs/illustrations/fbid_RAM.png
  docs/illustrations/memory_usage_comparison.png
Due: none

update poetry
  poetry.lock
  pyproject.toml
Due: none

Update README.md
  README.md
Due: none

TEST: table
  docs/paper/paper.md
Due: none

test: table
  docs/paper/paper.md
Due: none

ENH: alignments
  docs/paper/paper.md
Due: none

FIX: table format (#157)
  docs/paper/paper.md
Due: none

ADD: citation
  README.md
Due: none

ADD: citation files
  CITATION.bib
  CITATION.cff
  README.md
Due: none

ADD: paper.pdf
  README.md
  docs/paper/choice_learn_joss_paper.pdf
Due: none

ADD: paper.pdf
  README.md
Due: none

Release v1.0.0 (#156)
  README.md
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: official paper & citation (#158)
  CITATION.bib
  CITATION.cff
  README.md
  docs/paper/choice_learn_joss_paper.pdf
Due: none

Fix typos
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

Handle both suffix and prefix
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Modify tests to handle both prefix and suffix
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: load_londonpassenger
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: load_londonpassenger
  choice_learn/datasets/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test_londonpassenger_loader
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: preprocessing on londonpassenger dataset
  choice_learn/datasets/base.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Updates
  .gitignore
  choice_learn/data/choice_dataset.py
  tests/unit_tests/data/test_choice_dataset.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: init
  choice_learn/datasets/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: remove unnecessary enumerate
  choice_learn/models/conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: list available preprocessings in docstrings
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: small fixes
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: explain concatenation in features names
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: add tests for londonpassenger_loader
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

TST: fix tests for both prefix and suffix
  tests/unit_tests/data/test_choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: add London Passenger Mode Choice in README
  README.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
