Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ADD: call to compute_report()
  tests/integration_tests/models/test_conditional_logit.py
  tests/integration_tests/models/test_latent_class.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: remove dependecy to tfp for Normal cdf
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: changes in tests
  notebooks/introduction/3_model_clogit.ipynb
  tests/integration_tests/models/test_latent_class.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ENH: make latent class tests faster
  tests/integration_tests/models/test_latent_class.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: few simple LC model tests (#191)
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/simple_mnl.py
  notebooks/introduction/3_model_clogit.ipynb
  tests/integration_tests/models/test_conditional_logit.py
  tests/integration_tests/models/test_latent_class.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Change version to v1.1.1
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Change version to v1.1.1 (#192)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Basic HaloMNL
  choice_learn/models/halo_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: report in Latent Class model
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: LC report tests
  tests/integration_tests/models/test_latent_class.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: small improvements
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/simple_mnl.py
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

few modifs
  choice_learn/models/latent_class_base_model.py
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: Latent Class Report (#201)
  choice_learn/models/latent_class_base_model.py
  notebooks/models/latent_class_model.ipynb
  tests/integration_tests/models/test_latent_class.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

attempt at fixing test report
  .github/workflows/ci.yaml
  requirements-developer.txt
Due: none

roll back to pytest-cov
  requirements-developer.txt
Due: none

reading actions
  .github/workflows/ci.yaml
Due: none

upgrade TF version
  requirements.txt
Due: none

np.product -> np.prod
  .github/workflows/ci.yaml
  choice_learn/models/latent_class_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

fixes
  .github/workflows/ci.yaml
  requirements-developer.txt
Due: none

test
  .github/workflows/ci.yaml
Due: none

Fix test report (#203)
  .github/workflows/ci.yaml
  choice_learn/models/latent_class_base_model.py
  requirements.txt
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: efficiency of EM algorithm
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: updated LC notebook
  choice_learn/models/latent_class_base_model.py
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: modelwise proba
  choice_learn/models/latent_class_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: EM tests & more
  tests/integration_tests/models/test_latent_class.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: Expectation-Maximization Algorithm (#205)
  choice_learn/models/base_model.py
  choice_learn/models/latent_class_base_model.py
  choice_learn/models/latent_class_mnl.py
  notebooks/models/latent_class_model.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: val_dataset for fit_with_gd
  choice_learn/models/latent_class_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better tests specs
  tests/integration_tests/models/test_latent_class.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Add lc endpoint: predict_modelwise_probas (#206)
  choice_learn/models/latent_class_base_model.py
  tests/integration_tests/models/test_latent_class.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: split features
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: datasets tests
  tests/unit_tests/datasets/test_expedia.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: pre-commits
  tests/unit_tests/datasets/test_expedia.py
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: pre-commits, again
  tests/unit_tests/test_os_datasets.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: pre-commits, again
  tests/unit_tests/datasets/test_expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
