Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

FIX: nested logit report computation
  choice_learn/models/nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: basic tests for NestedLogit
  tests/integration_tests/models/test_nested_logit.py
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test NL with dict instantiation
  tests/integration_tests/models/test_nested_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: changed paramters for faster PR CI
  .github/workflows/pr_ci.yaml
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

t
  .github/workflows/pr_ci.yaml
Due: none

FIX: revert CI
  README.md
Due: none

FIX: ResLogit test
  tests/integration_tests/models/test_reslogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: diverse tests for models (#168)
  README.md
  choice_learn/models/nested_logit.py
  tests/integration_tests/models/test_nested_logit.py
  tests/integration_tests/models/test_reslogit.py
  tests/unit_tests/models/test_clogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: few unit tests for nlogit
  tests/unit_tests/models/test_nlogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: basic tests for RUMnet nets
  tests/unit_tests/models/test_nlogit.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: complementary unit tests for RUMnet
  choice_learn/models/rumnet.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: complementary tests
  tests/unit_tests/models/test_nlogit.py
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: nlogit test
  tests/unit_tests/models/test_nlogit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small change in test
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

enh: minor change in hyperparamters values in tests
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: White logo (#170)
  README.md
  docs/white_logo_choice_learn.png
Due: none

Update README.md
  README.md
Due: none

ADD: LearningMNL
  choice_learn/models/learning_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: foundation of L-MNL notebook
  notebooks/models/learning_mnl.ipynb
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: small updates
  choice_learn/models/learning_mnl.py
  notebooks/models/learning_mnl.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

update readme
  README.md
Due: none

update action
  .github/actions/publish/action.yaml
Due: none

ADD: usage of Conv2D as Original Implem
  choice_learn/models/learning_mnl.py
  notebooks/models/learning_mnl.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: method to change lr value
  choice_learn/models/base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tests for lr assignment
  tests/unit_tests/models/test_base_model.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: L-MNL model
  choice_learn/models/learning_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: basic tests for L-MNL
  tests/unit_tests/models/test_l_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: better notebook
  notebooks/models/learning_mnl.ipynb
Due: nbstripout

ENH: changed oaraleter default value
  choice_learn/models/learning_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: attempt at table
  README.md
Due: none

ADD: some more info in tables
  README.md
Due: none

ENH: tf.reshape -> Layers.Reshape()
  choice_learn/models/learning_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: LearningMNL in __init__
  choice_learn/models/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: new table readme
  README.md
Due: none

ENH: tf.reshape -> layers.Reshape()
  choice_learn/models/__init__.py
  choice_learn/models/learning_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: tests parametrizzation
  tests/unit_tests/models/test_rumnet_unit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: lr attribute of RUMnet better handled
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: table of contents
  README.md
Due: none

ADD: clone test
  README.md
  choice_learn/models/learning_mnl.py
  tests/unit_tests/models/test_l_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check
