Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ENH: higher TF & TFP version ?
  pyproject.toml
Due: none

ADD: few SimpleMNL tests
  tests/integration_tests/models/test_conditional_logit.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Eager execution in notebook
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

Hotfix/storage (#111)
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
  notebooks/introduction/3_model_clogit.ipynb
  tests/unit_tests/data/test_storage.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

Enh/mkdocs (#114)
  README.md
  docs/explanations.md
  docs/how-to-guides.md
  docs/illustrations/logos/artefact_logo.png
  docs/index.md
  docs/tutorials.md
  mkdocs.yaml
Due: none

Fix/tf tfp compat (#115)
  pyproject.toml
  requirements.txt
  tests/integration_tests/models/test_conditional_logit.py
  tests/integration_tests/models/test_simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: wording
  mkdocs.yaml
Due: none

FIX: subset ChoiceDataset with availabilities as FbID
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: logos in ReadMe
  README.md
Due: none

ADD: logo
  docs/illustrations/logos/logo_artefact_png.png
  docs/illustrations/logos/logo_insead.png
  docs/illustrations/logos/logo_lbs.jpeg
Due: none

ENH: better html for logos
  README.md
Due: none

ADD: right links with logos
  README.md
Due: none

FIX: FeaturesStorage in the middle of 'normal' features
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: FeaturesStorage in the middle of 'normal features'
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test for latest fix
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: only add when needed features
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

LINT
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: wrongly copied lines
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Hotfix/storage (#117)
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  tests/integration_tests/data/test_dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: other ATF logo
  README.md
  docs/illustrations/logos/logo_atf.png
Due: none

ENH: spacing
  README.md
Due: none

ADD: trainable weights as @propery
  choice_learn/models/baseline_models.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/nested_logit.py
  choice_learn/models/rumnet.py
  choice_learn/models/simple_mnl.py
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tests with latest changes
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small commit for checkout
  README.md
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

ADD: updated poetry.lock
  poetry.lock
Due: none

Small enhancements to the ReadMe (#120)
  README.md
  docs/illustrations/logos/logo_artefact_png.png
  docs/illustrations/logos/logo_atf.png
  docs/illustrations/logos/logo_insead.png
  docs/illustrations/logos/logo_lbs.jpeg
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

Update README.md
  README.md
Due: none

Update poetry.lock (#119)
  README.md
  poetry.lock
Due: none

Change version to v0.0.5 (#121)
  choice_learn/__init__.py
  pyproject.toml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small fix
  choice_learn/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

small fixes in publish action
  .github/actions/publish/action.yaml
  .github/workflows/release_pypi.yaml
Due: none

ADD: check for ArrayStorage that Features have more dimensions than key
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: default n_epochs for Latent models is now 100
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: default n_epochs for Latent models is now 100 (#122)
  choice_learn/models/latent_class_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
