Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

FIX: wide df memory print
  docs/illustrations/expedia_RAM.png
  docs/paper/paper.md
Due: none

linting
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

ADD: small sentence on lbfgs vs gd
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

ADD: cache dir
  .gitignore
  choice_learn/datasets/cache/.gitkeep
Due: none

ADD: expedia rumnet preprocessing now works with cache
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: batch with tuple & FbyIDs
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: pre-commits
  choice_learn/datasets/expedia.py
  docs/paper/paper.bib
  docs/paper/paper.md
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: Indexe __getitem__
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: fixed recent fix
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test
  tests/integration_tests/data/dataset_indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: super important fixes in SimpleMNL & ChoiceDataset Indexer
  choice_learn/data/indexer.py
  choice_learn/models/simple_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: ChoiceDataset subsampling now respects tupling or not of features
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: swissmetro long format preprocessing
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: subsetting: handling names
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: link to data tutorial if needed
  notebooks/data/introduction_to_data_handling.md
  notebooks/models/conditional_logit.md
Due: none

ENH: updated example
  notebooks/introduction/2_data_handling.ipynb
Due: nbstripout

ENH: Conditional Logit example
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

FIX: path to choice_learn
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/data/dataset_creation.ipynb
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/logistic_regression.ipynb
  notebooks/models/rumnet.ipynb
  notebooks/models/simple_mnl.ipynb
  notebooks/models/tastenet.ipynb
Due: nbstripout

FIX: regenerate outputs
  notebooks/introduction/3_model_clogit.ipynb
Due: nbstripout

Update mem usage
  docs/paper/memory_usage.ipynb
Due: nbstripout

ADD: TasteNet importable at .models level
  choice_learn/models/__init__.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: Preview for Ruff's E402 enabled
  pyproject.toml
Due: none

ADD: test that models do instantiate
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: test on ConditionalLogit on .evaluate ModeCanada
  tests/integration_tests/models/test_conditional_logit.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: future Ruff rules compliance
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/rumnet.py
  tests/integration_tests/models/test_conditional_logit.py
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

remove future of ruff
  pyproject.toml
Due: none

ADD: minimalist models tests (#55)
  .gitignore
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/datasets/cache/.gitkeep
  choice_learn/datasets/expedia.py
  choice_learn/models/__init__.py
  choice_learn/models/conditional_mnl.py
  choice_learn/models/rumnet.py
  docs/illustrations/choice_learn_dataset.png
  docs/illustrations/choice_learn_features_storage.png
  docs/illustrations/choice_learn_high_level.png
  docs/illustrations/choice_learn_model.png
  notebooks/models/rumnet.ipynb
  pyproject.toml
  tests/integration_tests/models/test_conditional_logit.py
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: docstring
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: ConditionalMNL -> ConditionalLogit
  README.md
  choice_learn/models/__init__.py
  choice_learn/models/conditional_logit.py
  choice_learn/models/latent_class_mnl.py
  docs/tutorials.md
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/logistic_regression.ipynb
  tests/integration_tests/models/test_conditional_logit.py
  tests/unit_tests/models/test_instantiation.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: LC AssortOpt
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: latent class Assort Optimizer doc
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: LatentClass Optimizer in example
  notebooks/auxiliary_tools/assortment_example.ipynb
Due: nbstripout

FIX: removed contexts references
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: stacking and typing orders in RUMnet
  choice_learn/models/rumnet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: typing and stacking order for tastenet
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: paper from feedback
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

FIX: ref to citation
  docs/paper/paper.md
Due: none

ADD: capacity constraint in AssortOptimizer
  choice_learn/toolbox/assortment_optimizer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check
