Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ruff-format:
  name: Formatting (ruff)
  entry: ruff format
  language: system

ruff-fix:
  name: Linting & sorting (ruff)
  entry: ruff --fix --fixable I001
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: nbstripout
  language: system

python-bandit-vulnerability-check:
  name: Security check (bandit)
  entry: bandit
  args:
  - -x
  - tests
  - --recursive
  - choice_learn
  language: system

ADD: ci mkdocs on PR
  .github/workflows/deploy_docs.yaml
Due: none

small modifs
  notebooks/choice_learn_introduction_data.ipynb
  notebooks/custom_model.ipynb
Due: nbstripout

intermediate new signature
  choice_learn/data/choice_dataset.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: new FeaturesStorage
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: FeaturesStorage Example
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
  notebooks/features_storage_example.ipynb
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

ADD: basic CD init running
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: Ruff
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: get_choice_batch ~ok
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

enhancing readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Update mkdocs.yaml
  mkdocs.yaml
Due: none

ENH some doc
  README.md
  mkdocs.yaml
  requirements-developer.txt
Due: none

FIX: detailed features with pd.DataFrame
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: summary df
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: working indexer
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: fully functional new signature
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

DOC: redocumented
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: ConditionalMNL creates ModelSpecification on its own
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

FIX: from_df
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: notebook with all different instantiation possibilities
  notebooks/dataset_creation.ipynb
Due: nbstripout

small changes
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/features_storage_example.ipynb
Due: nbstripout

test bandit config
  pyproject.toml
Due: none

FIX: few important fixes
  choice_learn/data/choice_dataset.py
  choice_learn/data/indexer.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: tests with new signature
  notebooks/features_storage_example.ipynb
  tests/unit_tests/data/test_choice_dataset.py
  tests/unit_tests/data/test_store.py
Due: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

FIX: mkdocs after wrong merge
  mkdocs.yaml
Due: none

ENH: now availabilities can be computed from split DF
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: several loading mode for modeCanada so that the example is prettier and can always use it
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: re updaed all methods for CD creation
  notebooks/dataset_creation.ipynb
Due: nbstripout

ENH: some better data doc
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: keepo outputs
  notebooks/dataset_creation.ipynb
Due: nbstripout

FIX: some important fixed
  choice_learn/data/choice_dataset.py
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: some updates on example
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: Intro to DCM in readme
  README.md
Due: none

ENH: data exampel
  notebooks/choice_learn_introduction_data.ipynb
Due: nbstripout

ADD: SwissMetro example beginning
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

FIX: possibility to define different weights for the same feature
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: prints
  choice_learn/models/base_model.py
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: finalized PyLogit SwissMetro example
  notebooks/choice_learn_introduction_clogit.ipynb
Due: nbstripout

ADD: init rumnet example
  notebooks/rumnet_example.ipynb
Due: nbstripout

ENH: documentation
  README.md
  mkdocs.yaml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  python-bandit-vulnerability-check: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
