Repository artefactory/choice-learn: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, nbstripout, python-bandit-vulnerability-check

.pre-commit-config.yaml:

repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: ruff-format
        name: Formatting (ruff)
        entry: ruff format
        types: [python]
        language: system
      - id: ruff-fix
        name: Linting & sorting (ruff)
        entry: ruff --fix --fixable I001  # allow only to fix unsorted imports
        types: [python]
        language: system
      - id: nbstripout
        name: Strip Jupyter notebook output (nbstripout)
        entry: nbstripout
        types: [file]
        files: (.ipynb)$
        language: system
      - id: python-bandit-vulnerability-check
        name: Security check (bandit)
        entry: bandit
        types: [python]
        args: ["-x", "tests", --recursive, choice_learn]
        language: system
      - id: pytest-check
        name: Tests (pytest)
        stages: [push]
        entry: pytest tests/
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
exclude: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)

FIX: Dummies to int to get onehot
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: predict_tastes method
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: preprocessing=tastenet for swissmetro now returns ids for groupout
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: complete TasteNet notebook
  notebooks/tastenet_example.ipynb
Due: nbstripout

FIX: missing docstring
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: summary and references in notebook
  notebooks/tastenet_example.ipynb
Due: nbstripout

ADD: warning if not feature name is given
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: Error raised if coefficient added and feature not in ChoiceDataset earlier
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: check that features by ids have the right keys when used in CD
  choice_learn/data/choice_dataset.py
  choice_learn/data/storage.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: CD.from_df now creates CD without tuple features
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: condtional logit now handles tuple and non tuple features
  choice_learn/models/conditional_mnl.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: renaming examples.py -> tafeng.py
  choice_learn/datasets/__init__.py
  choice_learn/datasets/tafeng.py
  docs/references/datasets/references_examples.md
  docs/references/datasets/references_tafeng.md
  mkdocs.yaml
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: re updated assortment example
  notebooks/assortment_example.ipynb
Due: nbstripout

FIX: unmatched names & features
  choice_learn/datasets/base.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small modifs
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/features_byID_example.ipynb
Due: nbstripout

ADD: tf.float32 casts in ready-to-use models
  choice_learn/models/conditional_mnl.py
  choice_learn/models/simple_mnl.py
  choice_learn/models/tastenet.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: paper editions
  docs/paper/paper.md
Due: none

ADD: authors
  docs/paper/paper.md
Due: none

ENH: better illustrations
  docs/illustrations/choice_learn_dataset.png
  docs/illustrations/choice_learn_features_storage.png
  docs/illustrations/choice_learn_model.png
  docs/illustrations/items_vs_shared_features.png
Due: none

ADD: better images + RAM usage
  docs/illustrations/choice_learn_dataset.png
  docs/illustrations/choice_learn_features_storage.png
  docs/illustrations/memory_usage_comparison.png
Due: none

ADD: RAM usage comparison
  docs/paper/paper.md
Due: none

small updates on notebooks
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/features_byID_example.ipynb
Due: nbstripout

ENH: wording
  README.md
  notebooks/choice_learn_introduction_clogit.ipynb
  notebooks/introductive_example.ipynb
  notebooks/logistic_regression.ipynb
  notebooks/parameters_and_model_customization.ipynb
Due: nbstripout

ENH: reorganization
  docs/how-to-guides.md
  notebooks/auxiliary_tools/assortment_example.ipynb
  notebooks/data/dataset_creation.ipynb
  notebooks/data/features_byID_examples.ipynb
  notebooks/introduction/1_introductive_example.ipynb
  notebooks/introduction/2_data_handling.ipynb
  notebooks/introduction/3_model_clogit.ipynb
  notebooks/introduction/4_model_customization.ipynb
  notebooks/models/latent_class_model.ipynb
  notebooks/models/logistic_regression.ipynb
  notebooks/models/rumnet.ipynb
  notebooks/models/simple_mnl.ipynb
  notebooks/models/tastenet.ipynb
Due: nbstripout

FIX: links with reorg
  README.md
  notebooks/models/conditional_logit.md
Due: none

ENH: paper enhancement
  docs/illustrations/choice_learn_high_level.png
  docs/paper/paper.md
Due: none

ENH: faster expedia with PyArrow and added logging
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

update paper
  docs/paper/paper.md
Due: none

FIX: wrong logged messages
  choice_learn/data/choice_dataset.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: optimized memory usage of Expedia Dataset
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ADD: cache
  choice_learn/datasets/expedia.py
Due: ruff-format, ruff-fix, python-bandit-vulnerability-check

ENH: small additions/Fixes
  docs/paper/paper.md
Due: none

ADD: notebook memory usage
  docs/paper/memory_usage.ipynb
Due: nbstripout

ADD: better RAM usage comparisons
  docs/illustrations/expedia_RAM.png
  docs/illustrations/fbid_RAM.png
  docs/paper/paper.bib
  docs/paper/paper.md
Due: none

small improvements
  docs/paper/paper.md
Due: none

small fixes
  docs/paper/paper.md
Due: none

attempt at getting images side bby side
  docs/paper/paper.md
Due: none

reverse
  docs/paper/paper.md
Due: none

small modifs
  docs/paper/paper.md
Due: none

enh style
  docs/paper/paper.md
Due: none
